@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    min-height: 297mm;
  }
}

.print-color {
  @media print {
    print-color-adjust: exact;
  }
}

@page {
  size: A4 portrait; /* or landscape */
  margin: 0;
}

@layer base {
  :root {
    --background: 210, 40%, 98%;
    --foreground: 224, 71%, 4%;
    --primary: 243, 75%, 59%;
    --primary-dark-1: 244, 55%, 41%;
    --primary-dark-2: 244, 47%, 20%;
    --primary-foreground: 210, 40%, 98%;
    --primary-light-1: 228, 96%, 89%;
    --primary-light-2: 226, 100%, 97%;
    --secondary: 0, 0%, 22%;
    --secondary-dark: 0, 0%, 7%;
    --secondary-foreground: 210, 40%, 98%;
    --secondary-light: 216, 12%, 84%;
    --muted: 210, 40%, 96%;
    --muted-foreground: 215, 16%, 47%;
    --accent: 210, 40%, 96%;
    --accent-foreground: 222, 47%, 11%;
    --success: 142, 71%, 45%;
    --success-dark: 143.81, 61.17%, 20.2%;
    --success-light: 142, 77%, 73%;
    --success-foreground: 210, 40%, 98%;
    --danger: 0, 84%, 60%;
    --danger-dark: 0, 74%, 42%;
    --danger-light: 0, 96%, 89%;
    --danger-foreground: 210, 40%, 98%;
    --info: 217, 91%, 60%;
    --info-dark: 226, 71%, 40%;
    --info-light: 212, 96%, 78%;
    --info-foreground: 210, 40%, 98%;
    --warning: 48, 96%, 53%;
    --warning-dark: 41, 96%, 40%;
    --warning-light: 53, 98%, 77%;
    --warning-foreground: 224, 71%, 4%;
    --overlay-dark: 0, 0%, 0%;
    --overlay-light: 0, 0%, 100%;
  }

  .dark {
    --background: 224, 71%, 4%;
    --foreground: 210, 40%, 98%;
    --muted: 215, 16%, 47%;
    --muted-foreground: 210, 40%, 96%;
    --accent: 222, 47%, 11%;
    --accent-foreground: 210, 40%, 96%;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-md;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.marquee {
	animation: marquee 4s 2s ease-in-out infinite alternate;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--shift)));
  }
}
